In [1]:
#!pip install mysql-connector-python

import os
import pandas as pd
import mysql.connector
from  mysql.connector import errorcode
import ast

In [18]:
lista_tuplas_guionistas =[]
lista_final_guionistas = []

for i in range(1990,2024):
   
    try:
        df_pelis = pd.read_csv(f'datos_peliculas/lista_peliculas_{i}_3000.csv')
    except:
        print(f"lista_peliculas_{i}_1000.csv - no existe")            

    orden_guion = ["0","8"]

    df_guionistas_pelis = df_pelis.reindex(columns = orden_guion)

    # tupla guionistas
    for fila in df_guionistas_pelis.values:

        try:
            linea = ast.literal_eval(fila[1])
        except:
            linea = 'No data'   

        for elemento in linea:
            lista_tuplas_guionistas.append((fila[0], elemento))

df_guionistas = pd.DataFrame(set(lista_tuplas_guionistas), columns =['id', 'nombre'])


#quitar nan y null del dataframe
df_final_guionistas = df_guionistas.dropna(how='any', axis=0) 

for fila in df_final_guionistas.values:
    lista_final_guionistas.append(tuple(fila))

lista_peliculas_1990_1000.csv - no existe
lista_peliculas_1991_1000.csv - no existe
lista_peliculas_1992_1000.csv - no existe
lista_peliculas_1993_1000.csv - no existe
lista_peliculas_1994_1000.csv - no existe
lista_peliculas_1995_1000.csv - no existe
lista_peliculas_1996_1000.csv - no existe
lista_peliculas_1997_1000.csv - no existe
lista_peliculas_1998_1000.csv - no existe
lista_peliculas_2000_1000.csv - no existe
lista_peliculas_2001_1000.csv - no existe
lista_peliculas_2002_1000.csv - no existe
lista_peliculas_2003_1000.csv - no existe
lista_peliculas_2004_1000.csv - no existe
lista_peliculas_2005_1000.csv - no existe
lista_peliculas_2006_1000.csv - no existe
lista_peliculas_2007_1000.csv - no existe
lista_peliculas_2008_1000.csv - no existe
lista_peliculas_2009_1000.csv - no existe
lista_peliculas_2010_1000.csv - no existe
lista_peliculas_2011_1000.csv - no existe
lista_peliculas_2012_1000.csv - no existe
lista_peliculas_2013_1000.csv - no existe
lista_peliculas_2014_1000.csv - no existe
lista_peliculas_2015_1000.csv - no existe

In [16]:
len(lista_final_guionistas)

1541

In [17]:
#conexion     
cnx = mysql.connector.connect(user="root",
                        password="AlumnaAdalab",
                        host="localhost", database = "bho_peliculas_3")

mycursor = cnx.cursor()

#tabla guionistas por pelicula
sql_guionistas_peliculas = "INSERT INTO guionistas_peliculas (id_pelicula, nombre_guionista) VALUES (%s, %s)"

try:
    mycursor.executemany(sql_guionistas_peliculas, lista_final_guionistas)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
    print("peliculas - error inserci√≥n")

1541 registros insertados